
.section {
    display: flex;
    justify-content: center;
}



#section-projects {
    position: relative;
    background: -webkit-linear-gradient(to right, #2c3e50, #707070);
    background: linear-gradient(to right, #2c3e50, #707070);

    .section-content {
        width: 100%;
        max-width: 1200px;
        padding: 40px 50px;
        box-sizing: border-box;
        min-height: calc(100vh - 75px);
        min-height: calc(100vh - 75px);
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2);
        margin: 40px 0px;

        .sideProject-box {
            .header {
                .text {
                    h3 {
                        font-size: 24px;
                        line-height: 32px;
                        margin-bottom: 20px;
                        color: #2c3e50;
                        font-weight: 300;
                        margin-right: 15px;
                    }
                }

                .tech-detail {
                    p {
                        font-size: 16px;
                    }
                }
            }

            .detail {
                display: flex;
                flex-direction: column;

                .c104 {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: start;
                    background-color: #fff;
                    padding: 10px 15px;
                    border: 1px solid #c9c9c9;
                    margin: 15px 0px;

                    .cTitleAndInfo {
                        flex-basis: 40%;
                        display: flex;
                        flex-wrap: wrap;


                        @media (max-width: 992px) {
                            flex-basis: 100%;
                        }

                        .cTitle {
                            flex-basis: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 15px 0px;

                            .cLogo {
                                margin-right: 25px;

                                img {
                                    display: inline-block;
                                }
                            }

                            .cName {
                                p {
                                    font-size: 20px;
                                    line-height: 28px;
                                    font-weight: bold;
                                }
                            }
                        }

                        .cInfo {
                            flex-basis: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;

                            .cInfo-box {
                                flex-basis: 50%;
                                text-align: center;
                                border: 1px solid #c9c9c9;
                                padding: 15px;
                                box-sizing: border-box;

                                .name {
                                    font-size: 16px;
                                    line-height: 22px;
                                }

                                .content {
                                    .value {
                                        font-size: 18px;
                                        line-height: 26px;
                                    }
                                }
                            }

                            .cInfo-table {
                                flex-basis: 100%;
                                font-size: 18px;
                                margin-top: 15px;

                                .name {
                                    font-size: 16px;
                                    margin-bottom: 5px;
                                }

                                .table {
                                    padding: 5px;

                                    .tr {
                                        display: flex;
                                        padding: 5px;
                                        padding: 5px;
                                        border: 1px solid;

                                        .td {
                                            font-size: 14px;
                                            padding: 5px;
                                            flex-basis: 50%;
                                            box-sizing: border-box;
                                        }
                                    }
                                }
                            }
                        }
                    }


                    .cRanking {
                        flex-basis: 60%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 15px;
                        box-sizing: border-box;

                        @media (max-width: 992px) {
                            flex-basis: 100%;
                        }

                        .cRanking-box {
                            flex-basis: 50%;
                            font-size: 18px;

                            @media (max-width: 992px) {
                                flex-basis: 100%;
                            }

                            .name {
                                font-size: 16px;
                                margin-bottom: 5px;
                            }

                            .table {
                                padding: 5px;

                                .tr {
                                    display: flex;
                                    padding: 5px;
                                    padding: 5px;
                                    border: 1px solid;

                                    .td {
                                        font-size: 14px;
                                        padding: 5px;
                                        flex-basis: 50%;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
